.task-icon {
  width: 40px;
  height: 40px;
  color: #2962ff;
}

.header {
  padding: 8px;
  cursor: pointer;
}

.user-profile {
  font-size: 2rem;
  padding-right: 1rem;
}

.user-profile:hover {
  color: lightgray;
  cursor: pointer;
}
